.companyList{
	padding-left: 10px;
	height: 80%;
}

.success{
	background-color: #00bf00;
}

.fail{
	background-color: red;
}

.changed{
	background-color: #ffff00;
}

.notchanged{
	background-color: #ffffff;
}